# Merging instacart Data
##   This script contains the following steps
## 1.Import the data set into Jupyter as a new dataframe: df_ords_prior.
## 2.Check the dimensions of the imported dataframe.
## 3.Merge the dataframe with your df_ords dataframe.
## 4.Use the indicator argument to check whether there was a full match between the two dataframes.

In [1]:
# Importing dictionaries
import pandas as pd
import numpy as np
import os

In [3]:
# Create a directory path
path= r'C:\Users\luke_\Desktop\CF Datacourse\Python_exercise4\09-2024 Instacart Basket Analysis\02_data'

In [10]:
#Import df_ords
df_ords = pd.read_csv(os.path.join(path, 'prepared_data', 'orders_checked.csv'), index_col = False)

In [5]:
# Import orders_products_prior.csv
df_orders_products_prior = pd.read_csv(os.path.join(path, 'original_data', 'orders_products_prior.csv'), index_col = False)

In [13]:
#check output of df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [12]:
# For some reason I have the 'eval_set' column, as well as 2 'unnamed' columns. I will drop the 'eval_set' column
df_ords = df_ords.drop(columns = ['eval_set'])

In [14]:
df_ords.shape

(3421083, 8)

In [8]:
#check output of df_orders_products_prior
df_orders_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
df_orders_products_prior.shape

(32434489, 4)

# Merging dataframes

In [17]:
df_merged_large = df_ords.merge(df_orders_products_prior, on = 'order_id', indicator = True)

In [18]:
# Checking output
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [20]:
df_merged_large.shape

(32434489, 12)

## Checking if the merge was successful

In [19]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting as pickle file

In [22]:
df_merged_large.to_pickle(os.path.join(path, 'prepared_data', 'orders_products_combined.pkl'))